<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    
    <!-- Cargar Bootstrap localmente -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body style="background-image: url('../static/img/fondoBodyLogin.jpg');">
    <div class="card">
        <div class="tools">
            <div class="circle">
                <span class="red box"></span>
            </div>
            <div class="circle">
                <span class="yellow box"></span>
            </div>
            <div class="circle">
                <span class="green box"></span>
            </div>
            <div class="logosLogin">
                <img src="../static/img/isotipoUniasociados.png" class="logoUniventas" alt="">
                <img src="../static/img/logoUnilever.png" class="logoUnilever" alt="">
            </div>
        </div>

        <div class="titleLogin">REGISTRARSE</div>
        <form class="loginForm" id="registroForm">
            <div class="inputGroup">
                <label for="nombre_usuario">Nombre Usuario</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Ingresa usuario" required>
            </div>
            <div class="inputGroup">
                <label for="correo_electronico">Correo electrónico</label>
                <input type="email" id="correo_electronico" name="correo_electronico" placeholder="Ingresa correo" required>
            </div>
            <div class="inputGroup">
                <label for="tipo_identificacion">Tipo de identificación</label>
                <select id="tipo_identificacion" name="tipo_identificacion" required>
                    <option value="" disabled selected>Selecciona el tipo</option>
                    <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
                    <option value="NIT">NIT</option>
                </select>
            </div>
            <div class="inputGroup">
                <label for="numero_identificacion">Número identificación</label>
                <input type="text" id="numero_identificacion" name="numero_identificacion" placeholder="Ingresa número identificación" required>
            </div>
            <div class="inputGroup">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa contraseña" required>
            </div>

            <button type="submit" class="loginButton">Registrarse</button>
        </form>
        <a href="./login.html">¿Ya creaste tu cuenta? Inicia sesión.</a>
    </div>

    <script src="../static/js/register.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


    
</body>
</html>
