<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../static/css/restablecerContraseña.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body style="background-image: url('../static/img/fondoBodyLogin.jpg');">
    <div class="card">
        <div class="tools">
            <div class="circle">
                <span class="red box"></span>
            </div>
            <div class="circle">
                <span class="yellow box"></span>
            </div>
            <div class="circle">
                <span class="green box"></span>
            </div>
        </div>
        <div class="logosLogin">
            <img src="../static/img/isotipoUniasociados.png" class="logoUniventas" alt="">
            <img src="../static/img/logoUnilever.png" class="logoUnilever" alt="">
        </div>
        <div class="titleLogin">Restablecer contraseña</div>
        <form class="loginForm">
            <div class="inputGroup">
                <label for="username">Ingresa tu nueva contraseña</label>
                <input type="text" id="username" name="username" placeholder="Ingresa nueva contraseña" required>
            </div>
            <div class="inputGroup">
                <label for="username">Confirmar tu nueva contraseña </label>
                <input type="text" id="username" name="username" placeholder="Ingresa tu nueva contraseña" required>
            </div>
            <button type="submit" class="loginButton">Enviar correo</button>
            <a href="./login.html">Iniciar sesión</a>

        </form>
    </div>
</body>
</html>