@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
<<<<<<< HEAD
    background-image: url('../img/CambioLogin.png');
=======
    background-image: url('/Front-end/login/img/ca  ');
>>>>>>> 255e4589d98a94784a1e332835f30aaaa81a11e6
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    font-family: "Amaranth", sans-serif;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
/* ININCIO DE LOGUIN */
.titleLogin{
    width: 62%;
    font-weight: 600;
<<<<<<< HEAD
    margin: 2% auto;
=======
    margin: 2% auto;  
>>>>>>> 255e4589d98a94784a1e332835f30aaaa81a11e6
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 17%; */
    color: #ffffff;
    font-family: "Salsa", cursive;
    font-style: normal;
    font-size: 4.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

  
}
.titleLogin:hover {
    color: #ffbe33 ; /* Color de texto al hacer hover */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}
.loginUniventas{
    width: 14%;
}

  /* INICIO FORMULARIO */
/* Contenedor del formulario */
.login-container {
  color: #ffbe33;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 36rem; /* Ancho máximo */
}

/* Estilo de los encabezados en el formulario */
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para las etiquetas (label) */
.login-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Estilo para los inputs */
.login-form input {
  width: 100%;
  padding: 10px;
  background-color: #58535379;
  color: #ffbe33;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo del botón */
.login-form button {
  width: 50%; /* El botón ocupa el 50% del ancho */
  padding: 10px;
  background: #ffbe33;
  color: #070707;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Esto es importante para permitir el centrado */
  margin: 0 auto; /* Centra el botón */
}

/* Estilo del botón cuando se pasa el mouse sobre él */
.login-form button:hover {
  background: #0056b3;
  color: #ffffff;
}

/* Contenedor del botón */
.login-form .button-container {
  display: flex;
  justify-content: center; /* Centra el contenido dentro de este contenedor */
  width: 100%; /* Asegura que ocupe todo el ancho del formulario */
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .login-form .form-group {
    width: 100%; /* Cada campo ocupa todo el ancho en pantallas pequeñas */
  }
}
  /* FIN FORMULARIIO */