@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}

body.no-scroll {
    overflow: hidden;
}
.titleLogin {
    display: flex;
    justify-content: center;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 35px;
    position: relative;
    top: 18px;
}
/* Tarjeta de inicio de sesión */
.cardLogin {
    width: 30%;
    height: 70%;
    margin: 8rem auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Logos */
.logosLogin {
    display: flex;
    justify-content: flex-end;
    width: 6rem;
    left: 25%;
    gap: 20px;
    position: relative;
    bottom: 0;
}

.logoUniventas, .logoUnilever {
    width: 40px;
    height: 40px;
}

/* Botones de la barra de herramientas */
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    width: 25rem;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

/* Título del Login */
.titleLogin {
    display: flex;
    justify-content: center;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 35px;
    position: relative;
    top: 10px;
}

/* Formulario de Login */
.loginForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    align-items: center;
    padding: 25px;
}

.inputGroup {
    width: 100%;
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 16px;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    appearance: none;
    cursor: pointer;

}


.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #013e9b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #0d336bda;
}

.linkLogin{
    display: flex;
    justify-content: center;
}
