@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
}
body.no-scroll {
    overflow: hidden;
}

.titleRegister {
    display: flex;
    justify-content: center;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 35px;
    position: relative;
}

/* Estilos generales para todos los tamaños */
.cardRegister {
    width: 30%;
    height: 80%;
    margin: 5rem auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logosRegister {
    display: flex;
    justify-content: flex-end;
    width: 28rem;
    right: 20%;
    gap: 20px;
    position: relative;
    bottom: 0;
}

.logoUniventas, .logoUnilever {
    width: 40px;
    height: 40px;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    width: 26rem;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.titleLogin {
    display: flex;
    justify-content: center;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 35px;
    position: relative;
    top: 10px;
}

.RegisterForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 35px;
    align-items: center;
}

.inputGroup {
    width: 100%;
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-family: "Salsa", cursive;
    color: #323232;
    font-size: 16px;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Salsa", cursive;
    font-size: 14px;
    background-color: white;
    appearance: none;
    cursor: pointer;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #013e9b;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Salsa", cursive;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.loginButton:hover {
    background-color: #0d336bda;
}

.linkRegister{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
