@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Barra de navegación */
.navbar {    
    position: relative;
    z-index: 2;
    height: 7rem;
    background-color: #ffffffe8;
    border-radius: 10px 175px;
    padding: 0% 3%; /* Usar porcentajes para mejor adaptación */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

/* Estilos de los enlaces */
.nav-link {
    color: #2c4389;
    font-size: 1.5rem; /* Cambiamos a rem para la responsividad */
    font-weight: bold;
    text-decoration: none;
    padding: 9px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Efecto hover de los enlaces */
.nav-link:hover {
    background-color: #f0c23b;
    color: #2c4389;
    transform: scale(1.1);
}

/* Efecto activo para el enlace seleccionado */
.nav-link:active {
    background-color: #ff8c00;
    color: #333;
    transform: scale(1);
}

/* Estilos del contenido */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animación de aparición de la barra */
@media (prefers-reduced-motion: no-preference) {
    .navbar {
        animation: fadeIn 1s ease-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Logo */
.logoUni {
    width: 38rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

/* Botón de iniciar sesión */
.botonIniciarSesion {
    padding: 9px 22px;
    font-size: 16px;
    color: white;
    background-color: #f0c23b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.botonIniciarSesion:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.botonIniciarSesion:active {
    transform: scale(0.9);
}

/* Presentación de página / marcas */
#home {
    background-color: #0b1f44;
}

.primerTitulo {
    position: absolute;
    font-weight: 600;
    margin: 4% auto; /* Centramos y ajustamos */
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    z-index: 10;
    font-size: 3.5rem; 
    text-align: center; 
}

/* Media Queries para hacer más responsivo */
@media (max-width: 1200px) {
    .primerTitulo {
        font-size: 1.75rem;
        margin: 5% auto; /* Ajustado para pantallas grandes */
    }
}

@media (max-width: 992px) {
    .primerTitulo {
        font-size: 1.6rem; /* Tamaño de fuente más pequeño */
        margin: 5% auto; /* Ajustado para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .primerTitulo {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño */
    }
}

@media (max-width: 576px) {
    .primerTitulo {
        font-size: 1.3rem; /* Tamaño de fuente aún más pequeño */
    }
}

.imagenLogos {
    position: relative;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

/* Estilos para el logo */
#imagenLogo {
    width: 100%; 
    max-width: 17rem; 
    height: auto; 
    margin: 10rem auto 0; /* Centramos con auto */
    border-radius: 39px 51px;
  }
#imagenLogoUnilever{
  width: 100%; 
  max-width: 17rem; 
  height: auto; 
  margin: 10rem auto 0; /* Centramos con auto */
  margin-left: 5%;
  border-radius: 39px 51px;
}

.logoUnilever {
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

/* Media Queries para ajustar en pantallas más pequeñas */
@media (max-width: 768px) {
    #imagenLogo, #imagenLogoUnilever {
        margin-top: 5rem; 
        max-width: 80%; 
    }
}

@media (max-width: 480px) {
    #imagenLogo, #imagenLogoUnilever {
        margin-top: 3rem; 
        max-width: 90%; 
    }
}

/* Inicio de slider de marcas */
.logo-slider-container {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botones de categoría */
.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons button {
    background-color: #0b1f44f2;
    color: white;
    border: 0.5px solid rgb(255, 255, 255); 
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: #5b5f68bc;
}

/* Estilos del slider */
.logo-slider {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

/* Estilos de las imágenes */
.logo-slider img {
    display: none;
    width: 9rem;
    margin: 11px;
    height: 7rem;
    transition: all 0.3s ease;
    border-radius: 13%;
}

.logo-slider img.active {
    display: inline-block;
    opacity: 1;
    transform: translateX(0);
}

.logo-slider img.slide-left {
    transform: translateX(-100%);
}

.logo-slider img.slide-right {
    transform: translateX(100%);
}

/* Fin de slider de marcas */
/* Fin de presentación de página / marcas */

/* Inicio de aliados */
#aliados{
  height: 30rem;
  background-color: #ffffff;

}
.titulos {
    font-weight: 600;
    margin: 4% auto 40px; /* Centramos y ajustamos */
    color: #d84539;
    font-family: "Kanit", sans-serif;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
} 

.textoAliado { 
    height: 19rem; /* Cambiado a auto para mejor responsividad */
    width: 68%; /* Mantener un porcentaje para que se ajuste */
    display: flex;
    justify-content: flex-start;
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    padding: 15px 3px 5px;
}

.imagenesAliados {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

#imgUnilever {
    height: 18rem; /* Cambiado a auto para mejor responsividad */
    width: auto; /* Usar porcentaje para que se adapte */
    max-width: 27rem; /* Mantiene un límite máximo */
    padding: 8px 12px 5px;
    margin: -22rem 0; /* Espaciado arriba y abajo */
}

/* Fin de aliados */

/* Inicio de nosotros */
.card-client {
  background: #2b273900;
  width: 10rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 1px 3px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-2px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}
#nosotros{
  background-color: #0b1f44;
  height: 30rem;
}
.tituloNosotros{
  font-weight: 600;
  font-size: 3.5rem;
  margin-top: 2%;
  margin-bottom: 40px;
  color:#f0c23b;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}
/* fin de nosotros */


/* Footer inicio */
/* footer section*/
.footer_section {
    background-color: #0b1f44;
    color: #ffbe33;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
  }
  
  .footer_section p {
    color: #ffbe33;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffbe33;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffbe33;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
  }
  
  .footer_section .footer_social a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }
  #redesFooter{

    width: 100%;
  }

  /* iconos redes sociales footer */
  /*Footer fin  */

 


/* PRUEBA DE NOSOTROS */
.card-client {
  background: #2a1a5b63;
  width: 100%; /* Cambiar a 100% para que se ajuste al contenedor */
  max-width: 13rem; /* Mantener un ancho máximo */
  padding: 25px 20px; /* Simplificar padding usando la sintaxis abreviada */
  border: 4px solid #ffffff;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Kanit", sans-serif;
  transition: all 0.3s ease;
}


.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #f7f7f7;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 20px 0 0; /* Simplificar margen */
  font-weight: 600;
  font-size: 1.125rem; /* Cambiado a rem para la responsividad */
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 1rem; /* Cambiado a rem */
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #ffffff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}



/*-- Redes Sociales --*/
/* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Kanit", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* fin de redes sociales */


/* Ajustes para la galería */
.owl-carousel {
  display: flex;
  justify-content: center;
  margin: 3rem auto; /* Cambiado a auto para centrar */
  height: auto; /* Cambiado a auto para mejor adaptabilidad */
  width: 100%; /* Cambiar a 100% para ajustarse a su contenedor */
  margin-left: 16%;
  max-width: 77rem; /* Mantener un ancho máximo */
}

/* Media Queries para mayor responsividad */
@media (max-width: 768px) {
  .card-client {
    max-width: 100%; /* Se ajusta al 100% en pantallas pequeñas */
    margin: 1rem 0; /* Espaciado vertical entre tarjetas */
  }

  .user-picture {
    width: 4rem; /* Tamaño más pequeño */
    height: 4rem; /* Tamaño más pequeño */
  }

  .name-client {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }

  .name-client span {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  }
}

@media (max-width: 576px) {
  .user-picture {
    width: 3.5rem; /* Ajustar aún más para pantallas pequeñas */
    height: 3.5rem; /* Ajustar aún más para pantallas pequeñas */
  }

  .name-client {
    font-size: 0.9rem; /* Tamaño de fuente aún más pequeño */
  }

  .name-client span {
    font-size: 0.75rem; /* Tamaño de fuente aún más pequeño */
  }
}

/* FIN DE PRUEBA DE NOSOTROS  */

/* inicio contactanos */
#contactanos{
  background-color: #ffffff;
  height: 42rem;
  }

  /* inicio de cartas  */
.contactos{
  display: flex;
  justify-content: flex-start;
}
.tituloContacto{
  font-weight: 600;
  font-size: 4rem;
  margin-top: 4%;
  margin-bottom: 40px;
  color:#d84539;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  width: 40rem;
  height: 20rem;
  margin: 80px;
  background: #0b1f43;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 255, .2);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(254, 254, 255, 0.559);
 }

 .card:hover {
  box-shadow: -12px 12px 2px -1px #ffffff33;
 }
 .iconosContacto{
  display: flex;
  justify-content: center;
  position: relative;
  top: -16%;
 }
 .SubContactos{
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 10% auto; /* Centramos y ajustamos */
  z-index: 10;
  text-align: center; 

 }
#SubContacto{
  color:#ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 3rem; 

}
 #iconoEMail{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
 #iconoLlamada{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
 #iconoUbicacion{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
/* segunda carta de contactos  */
.redesSociales{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -30rem;
}
 .cardDos{
  cursor: pointer;
  width: 40rem;
  height: 20rem;
  margin: 80px;
  background: #0b1f43;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 255, .2);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(254, 254, 255, 0.559);
 }
 .cardDos:hover {
  box-shadow: -12px 12px 2px -1px #ffffff33;
 }
 .iconosRedes{
  display: flex;
  justify-content: center;
  position: relative;
  top: -16%;
 }
 .tituloRedes{
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 10% auto; /* Centramos y ajustamos */
  z-index: 10;
  text-align: center; 
 }
 #titulosRedes{
  color:#ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 3rem; 
 }
 #iconoFacebook{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
 #iconoWhatsapp{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
 #iconoInstagram{
  height: 100%;
  width: auto;
  padding: 25px 20px 10px;
  font-size: 4rem;
  color: #ffbe33;
 }
 /* fin de contactanos */
