@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }


body{
background: linear-gradient(45deg,
#013e9b   0,
#013f9b9d   100%) 0 0 / cover,
url("../img/fondoBlancoAterrizaje.jpg") center center/cover no-repeat;
background-size: cover;  /* Hace que la imagen cubra todo el área */
background-position: center; /* Centra la imagen dentro del contenedor */
background-repeat: no-repeat;  /* Evita que la imagen se repita */
height: 100vh;  /* Hace que el contenedor tenga una altura del 100% del viewport */
font-family: "Amaranth", sans-serif;
font-weight: 700;
font-style: normal;
}


/* INICIO DE BARRA  NAVEGACION */
/* Estilos globales */

  
 
  /* Barra de navegación */
  .nav-bar {
    position: relative;
    background-color: #e0e0e0;
    border-radius: 11px 61px 19px 77px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageSiteNavigation{
    display: flex;
    justify-content: flex-start;
  }
  .imageNavigation{
    width: 17%;

  }
  .nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 34px;
  }
  
  .nav-item {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .nav-item a {
    color: #013e9b ;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Efecto hover en los elementos de la lista */
  .nav-item:hover a {
    color: #ffbe33    ;  /* Cambia el color al pasar el mouse */
  }
  
  /* Indicador que se mueve bajo el enlace activo */
  .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #013e9b    ;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  /* Animación activa cuando se pasa el mouse */
  .nav-item:hover .indicator {
    width: 100%;
    left: 0;
  }
  
  /* Estilo para cuando el enlace está activo */
  .nav-item.active a {
    color: #ff6347;
  }
  
  /* Media query para hacer que la barra se vea bien en dispositivos móviles */
  @media (max-width: 768px) {
    .nav-bar {
      padding: 15px;
    }
  
    .nav-list {
      flex-direction: column;
      gap: 20px;
    }
  }
  /* FIN BARRA NAVEGACION  */
  /* INICIO ESTRUCTURA */
  .titleSite{
    font-weight: bold;
    margin: 4% auto; /* Centramos y ajustamos */
    z-index: 10;
    text-align: center; 
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
    color: #ffffff;
    font-family: "Salsa", cursive;
    font-style: normal;
    font-size: 2rem; 
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
  }
  .titleSite:hover {
    color: #ffbe33 ; /* Color de texto al hacer hover */
    transform: scale(1); /* Aumenta ligeramente el tamaño */
  }
  .textHome{  
    height: 11rem;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 25px auto;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
  }
  .textHome:hover{
    color: #ffbe33;
  }
  .structureSiteValues{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #333333;
    font-size: 2;
    margin-bottom: 20px;
    padding: 0;
  }
  .structureValues{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #333333;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 0;
  }
.structureSiteValues h3 {
  font-family: "Salsa", cursive;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease; /* Suavizar la transición */
}
.structureSiteValues h3:hover {
  color: #ffbe33;
}
.value-list{
  font-family: "Salsa", cursive;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease; /* Suavizar la transición */
}
.value-list:hover{
  color: #ffbe33;
}


/* From Uiverse.io by cssbuttons-io */ 
.ViewCatalog{
  display: flex;
  justify-content: flex-end ;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

  /* FIN ESTRUCTURA */