@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* INICIO ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html,body {
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

body.no-scroll {
  overflow: hidden; /* Deshabilita el desplazamiento */
}
/* INICIO BARRA NAVEGACION */

.navbar {
  z-index: 1000;
  width: 100%;
  background-color: #f4f4f9;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0;
  left: 0;
}

.logo-container {
  transition: transform 0.3s ease; /* Suaviza el movimiento del logo */
}

.logo-container.shift-right {
  transform: translateX(200px); /* Ajusta la distancia según lo necesario */
}

.logoUni {
  width: 24rem;
  height: auto;
}

/* Botón de menú tipo hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Estilos de enlaces */
.nav-links {
  display: flex;
  gap: 4rem;
  align-items: center;
  color: #013e9b;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 9px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Efecto hover de los enlaces */
.nav-link:hover {
  background-color: #ffbe33;
  color: #2c4389;
  border-radius: 5px;
  height: 30px;
  transform: scale(1.1);
}

/* Efecto activo para el enlace seleccionado */
.nav-link:active {
  background-color: #ffbe33;
  color: #333;
  transform: scale(1);
}

/* Botón de iniciar sesión */
.botonIniciarSesion {
  padding: 9px 22px;
  font-size: 16px;
  color: white;
  background-color: #ffbe33;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.botonIniciarSesion:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}

.botonIniciarSesion:active {
  transform: scale(0.9);
}

/* Menú lateral en pantallas pequeñas y medianas */
@media (max-width: 1128px) {
  .menu-toggle {
    display: block;
    
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: -100%; /* Oculto a la izquierda */
    width: 70%;
    height: 100%;
    background-color: #ededed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    transition: left 0.3s ease; /* Animación para el desplazamiento */
  }

  .nav-links.open {
    left: 0; /* Muestra el menú desde la izquierda */
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .botonIniciarSesion {
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
  }

  /* Botón de cierre (solo visible en pantallas pequeñas) */
  .close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    display: block; /* Visible en pantallas pequeñas */
    cursor: pointer;
  }

  .close-menu:hover {
    color: #ffbe33;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1129px) {
  .nav-links {
    position: static;
    flex-direction: row;
    gap: 4rem;
    background: none;
    box-shadow: none;
    height: auto;
    width: auto;
    justify-content: flex-end;
  }

  .menu-toggle {
    display: none; /* Ocultar el botón hamburguesa en pantallas grandes */
  }

  .close-menu {
    display: none; /* Asegura que no se muestre en pantallas grandes */
  }
}

/* FIN BARRA NAVEGACION */

/* INICIO SECCIONES */
.section {
  width: 100%; /* Ocupa todo el ancho */
  margin: 0 auto; /* Centra el contenido */
  padding: 0; /* Opcional: Ajusta según lo necesario */
}
/* FIN SECCIONES */

/* INICIO MARCAS */

#marcas {
  background-image: url('../img/fondoDos.jpg'); /* Ruta de tu imagen */
  width: 100%;
  height: 110vh;
}

.textoTituloMarca{
  font-weight: bold;
  margin: 4% auto; /* Centramos y ajustamos */
  z-index: 10;
  text-align: center; 
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
  color: #ffffff;
  font-family: "Salsa", cursive;
  font-style: normal;
  font-size: 3rem; 
  cursor: pointer;
  transition: all 0.3s ease; /* Suavizar la transición */
}

.textoTituloMarca:hover {
  color: #ffbe33 ; /* Color de texto al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.logo_Univenta_Unilever {
  position: relative;
  height: 52%;
  display: flex;
  justify-content: center;
  padding: 0 20rem;
  bottom: 3rem;
}

#imagenLogoUniventas {
  width: 100%; 
  max-width: 27rem; 
  height: auto; 
  margin: 10rem auto 0; /* Centramos con auto */
  border-radius: 39px 51px;
}

#imagenLogoUnilever{
  width: 100%; 
  max-width: 27rem; 
  height: auto; 
  margin: 10rem auto 0; /* Centramos con auto */
  margin-left: 5%;
  border-radius: 39px 51px;
}

.logoUnilever {
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}

/* From Uiverse.io by Yaya12085 */
.radio-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #013e9b;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: #b42e22;
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: #042588b0;
  color: #fff;
  border-color: #ffbe33;
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Slider de logos */
.logo-slider-container {
  width: 70%;
  height: 20%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
}

/* Botones de categoría */
.category-buttons {
  text-align: center;
  position: relative;
  display: flex;
  height: 6%;
  justify-content: center;
  z-index: 10;
  padding: 0px 20rem;
  bottom: 1rem;
}

.category-buttons button {
  background-color: #0b1f44f2;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.category-buttons button:hover {
  background-color: #5b5f68bc;
}

/* Estilos del slider */
.logo-slider {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.logo-slider img {
  display: none;
  width: 9rem;
  margin: 11px;
  height: 7rem;
  transition: all 0.3s ease;
  border-radius: 13%;
}

.logo-slider img.active {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
}

.logo-slider img.slide-left {
  transform: translateX(-100%);
}

.logo-slider img.slide-right {
  transform: translateX(100%);
}


/* FIN MARCAS */



/* INICIO RESPONSIVE ESTILOS GENERALES Y MARCAS */

/* FIN RESPONSIVE ESTILOS GENERALES Y MARCAS */






/* INICIO RESPONSIVE ESTILOS GENERALES Y MARCAS */

/* FIN RESPONSIVE ESTILOS GENERALES Y MARCAS */



/* INICIO ALIADOS */
#aliados{
  width: 100%;
  height: 100vh;
  background-color: #ededed;
}

.tituloAliados {
    font-weight: 600;
    margin: 4% auto 40px; /* Centramos y ajustamos */
    color: #b42e22;
    font-family: "Salsa", cursive;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
} 
.tituloAliados:hover {
  color: #013e9b; /* Color de texto al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 1024px) {
  .tituloAliados {
      font-size: 3rem; /* Reduce el tamaño de la fuente */
      margin: 5% auto 30px; /* Ajusta el margen */
  }
}

@media (max-width: 768px) {
  .tituloAliados {
      font-size: 2.5rem; /* Más pequeño para pantallas tipo tablet */
      margin: 6% auto 25px;
  }
}

@media (max-width: 480px) {
  .tituloAliados {
      font-size: 5%; /* Tamaño ideal para dispositivos móviles */
      margin: 8% auto 20px;
  }
}

.textoAliado { 
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  padding: 15px 3px 5px;
  position: relative;
  top: 3rem;
}
.gifAlianza{
display: flex;
justify-content: center;
}
#gifAlianza{
  width: 26rem;
  height: 16rem;

}

.imagenesAliados {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    position: relative;
    top: 3rem;
  }

#imgUnilever {
    height: 18rem; /* Cambiado a auto para mejor responsividad */
    width: 20rem; /* Usar porcentaje para que se adapte */
    max-width: 27rem; /* Mantiene un límite máximo */
    padding: 8px 12px 5px;
    margin: -18rem 7rem; /* Espaciado arriba y abajo */
}
.aliadosUniasociados{
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  position: relative;
  top: 17rem;
  
}
#aliadosUniasociados{
  height: 18rem; /* Cambiado a auto para mejor responsividad */
  width: 20rem; /* Usar porcentaje para que se adapte */
  max-width: 27rem; /* Mantiene un límite máximo */
  padding: 8px 12px 5px;
  margin: -16rem 7rem; /* Espaciado arriba y abajo */
}

/* EJEMPLO SLIDER */
.slider-container {
  padding: 20px;
}

.slider-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.slider {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider-track {
  display: flex;
  gap: 50px; /* Espacio entre logos */
  animation: scroll 35s linear infinite;
}

.slider-track img {
  height: 60px; /* Ajusta el tamaño de los logos */
  object-fit: contain;
  transition: transform 0.3s ease; /* Suaviza la escala al pasar el mouse */
}

.slider-track img:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* FIN EJEMPLO SLIDER  */

/* FIN ALIADOS */

/* INICIO NOSOTROS */
#nosotros {
  background-image: url('../img/fondoDos.jpg');
  width: 100%;
  height: 75vh;
}

.tituloNosotros {
  font-weight: 600;
  font-size: 3.5rem;
  position: relative;
  top: 5%;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Salsa", cursive;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tituloNosotros:hover {
  color: #ffbe33;
  transform: scale(1.1);
}

.card-client {
  background: #2a1a5b63;
  width: 100%;
  max-width: 13rem;
  padding: 25px 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-2px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 8rem;
  height: 8 rem;
  border: 4px solid #f7f7f7;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.name-client {
  margin: 20px 0 0;
  font-weight: 600;
  font-size: 1.125rem;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 1rem;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/* Tooltip Social Media */
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

/* Ajustes para la galería */
.owl-carousel {
  display: flex;
  justify-content: center;
  padding: 20px 85px 15px 103px;
  margin: 11px auto;
  height: auto;
  width: 77%;
  position: relative;
  left: 4%;
}

/* FIN NOSOTROS */

/* INICIO CONTACTOS */
#contactanos{
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  }
  /* Contenedor de contactos */
.contactos {
  display: flex;
  justify-content: flex-start; /* Distribuir mapa y tarjeta */
  align-items: center; /* Alinear verticalmente */
  gap: 20px; /* Espaciado entre mapa y tarjeta */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; /* Centrar el contenedor */
}
  .tituloContacto{
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: 4%;
    margin-bottom: 40px;
    color:#b42e22;
    font-family: "Salsa", cursive;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
  }
  .tituloContacto:hover {
    color: #ffbe33; /* Color de texto al hacer hover */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  }
.contactosMapa{
  display: flex;
  height: 60%;
  width: 40%;
  justify-content: flex-start;
  margin: 33px;
  position: relative;
  top: 3%;
}
/* INICIO TARJETAS CONTACTOS*/
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards .red {
  background-color: #d8d4cd4c ;
  box-shadow: 0 0 10px #013e9b, /* Efecto de iluminación suave */
              0 0 15px rgba(0, 0, 0, 0.2); /* Sombra suave */

}

.cards .blue {
  background-color: #d8d4cd4c;
  box-shadow: 0 0 10px #ffbe33, /* Efecto de iluminación suave */
              0 0 15px rgba(0, 0, 0, 0.2); /* Sombra suave */ 
}

.cards .green {
  background-color: #d8d4cd4c ;
  box-shadow: 0 0 10px #b42e22, /* Efecto de iluminación suave */
              0 0 15px rgba(0, 0, 0, 0.2); /* Sombra suave */ 

}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 140px;
  width: 131%;
  border-radius: 10px;
  color: #2a2929;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 1rem;
  gap: 80px;
  color: #2a2929;
}
.cards .card p.secondEmail-text {
  font-size: 1rem;
  gap: 80px;
  color: #2a2929  ;
}


.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
/* FIN TARJETA CONTACTOS */
/* FIN CONTACTOS */

/* INICIO FOOTER */
.footer_section {
    background-image: url('../img/fondoDos.jpg'); /* Ruta de tu imagen */
    color: #ffbe33;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;

  }
  
  .footer_section p {
    color: #ffbe33;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffbe33;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffbe33;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
  }
  
  .footer_section .footer_social a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }
  #redesFooter{

    width: 100%;
  }

  /* iconos redes sociales footer */
  /*FIN FOOTER  */




