@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Patua+One&display=swap');
/* INICIO ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* FIN ESTILOS GENRALES */

/* INICIO BARRA NAVEGACION */
.navbar {    
  position: fixed;
  z-index: 1000;
  height: 7rem;
  width: 94.5rem;
  background-color: #ededed;
  border-radius: 10px 175px;
  padding: 0% 3%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  justify-content: center;
  transition: all 0.3s ease;
  flex-wrap: wrap;
}

/* Estilos de los enlaces */
.nav-link {
    color: #2c4389;
    font-size: 1rem; /* Cambiamos a rem para la responsividad */
    font-weight: bold;
    text-decoration: none;
    padding: 9px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Efecto hover de los enlaces */
.nav-link:hover {
    background-color: #ffbe33  ;
    color: #2c4389;
    transform: scale(1.1);
}

/* Efecto activo para el enlace seleccionado */
.nav-link:active {
    background-color: #ffbe33  ;
    color: #333;
    transform: scale(1);
}

/* Estilos del contenido */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animación de aparición de la barra */
@media (prefers-reduced-motion: no-preference) {
    .navbar {
        animation: fadeIn 1s ease-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Logo */
.logoUni {
    width: 30rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

/* Botón de iniciar sesión */
.botonIniciarSesion {
    padding: 9px 22px;
    font-size: 16px;
    color: white;
    background-color: #ffbe33  ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    
}

.botonIniciarSesion:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.botonIniciarSesion:active {
    transform: scale(0.9);
}
/* FIN BARRA NAVEGACION */


/* INICIO MARCAS */

#marcas {
  background-image: url('/Front-end/img/fondoDos.jpg'); /* Ruta de tu imagen */
  width: 100%;
  height: 105vh;
}

.textoTituloMarca{
  font-weight: 600;
  margin: 4% auto; /* Centramos y ajustamos */
  z-index: 10;
  text-align: center; 
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
  color: #ffffff;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem; 
  cursor: pointer;
  transition: all 0.3s ease; /* Suavizar la transición */


}
.textoTituloMarca:hover {
  color: #ffbe33 ; /* Color de texto al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.logo_Univenta_Unilever {
  position: relative;
  height: 52%;
  display: flex;
  justify-content: flex-start;
  padding: 0 20rem;
  bottom: 3rem;
}

/* Estilos para el logo */
#imagenLogo {
    width: 100%; 
    max-width: 17rem; 
    height: auto; 
    margin: 10rem auto 0; /* Centramos con auto */
    border-radius: 39px 51px;
  }
#imagenLogoUnilever{
  width: 100%; 
  max-width: 17rem; 
  height: auto; 
  margin: 10rem auto 0; /* Centramos con auto */
  margin-left: 5%;
  border-radius: 39px 51px;
}

.logoUnilever {
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

/* Inicio de slider de marcas */
.logo-slider-container {
    width: 50%;
    height: 20%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
}

/* Botones de categoría */
.category-buttons {
  text-align: center;
  position: relative;
  display: flex;
  height: 6%;
  justify-content: center;
  z-index: 10;
  padding: 0px 20rem;
  bottom: 1rem;
}


.category-buttons button {
    background-color: #0b1f44f2;
    color: white;
    border: 0.5px solid rgb(255, 255, 255); 
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: #5b5f68bc;
}

/* Estilos del slider */
.logo-slider {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

/* Estilos de las imágenes */
.logo-slider img {
    display: none;
    width: 9rem;
    margin: 11px;
    height: 7rem;
    transition: all 0.3s ease;
    border-radius: 13%;
}

.logo-slider img.active {
    display: inline-block;
    opacity: 1;
    transform: translateX(0);
}

.logo-slider img.slide-left {
    transform: translateX(-100%);
}

.logo-slider img.slide-right {
    transform: translateX(100%);
}

/* FIN MARCAS */


/* INICIO RESPONSIVE ESTILOS GENERALES Y MARCAS */

/* FIN RESPONSIVE ESTILOS GENERALES Y MARCAS */



/* INICIO ALIADOS */
#aliados{
  width: 100%;
  height: 100vh;
  background-color: #ededed;
}

.tituloAliados {
    font-weight: 600;
    margin: 4% auto 40px; /* Centramos y ajustamos */
    color: #b42e22;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
} 
.tituloAliados:hover {
  color: #013e9b; /* Color de texto al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.textoAliado { 
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  padding: 15px 3px 5px;
  position: relative;
  top: 3rem;
}
.gifAlianza{
display: flex;
justify-content: center;
}
#gifAlianza{
  width: 26rem;
  height: 16rem;

}

.imagenesAliados {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    position: relative;
    top: 3rem;
  }

#imgUnilever {
    height: 18rem; /* Cambiado a auto para mejor responsividad */
    width: 20rem; /* Usar porcentaje para que se adapte */
    max-width: 27rem; /* Mantiene un límite máximo */
    padding: 8px 12px 5px;
    margin: -18rem 7rem; /* Espaciado arriba y abajo */
}
.aliadosUniasociados{
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  position: relative;
  top: 17rem;
  
}
#aliadosUniasociados{
  height: 18rem; /* Cambiado a auto para mejor responsividad */
  width: 20rem; /* Usar porcentaje para que se adapte */
  max-width: 27rem; /* Mantiene un límite máximo */
  padding: 8px 12px 5px;
  margin: -16rem 7rem; /* Espaciado arriba y abajo */
}

/* FIN ALIADOS */

/* INICIO NOSOTROS */
#nosotros {
  background-image: url('/Front-end/img/fondoDos.jpg');
  width: 100%;
  height: 75vh;
}

.tituloNosotros {
  font-weight: 600;
  font-size: 3.5rem;
  position: relative;
  top: 5%;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tituloNosotros:hover {
  color: #ffbe33;
  transform: scale(1.1);
}

.card-client {
  background: #2a1a5b63;
  width: 100%;
  max-width: 13rem;
  padding: 25px 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-2px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 8rem;
  height: 8 rem;
  border: 4px solid #f7f7f7;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.name-client {
  margin: 20px 0 0;
  font-weight: 600;
  font-size: 1.125rem;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 1rem;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/* Tooltip Social Media */
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

/* Ajustes para la galería */
.owl-carousel {
  display: flex;
  justify-content: center;
  padding: 20px 112px 15px;
  margin: 11px auto;
  height: auto;
  width: 77%;
}
/* INICIO DE SLIDER */
/* From Uiverse.io by PriyanshuGupta28 */ 
.slider {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #ffbe33;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffbe33;
  border-radius: 50%;
  cursor: pointer;
}

/* FIN DE SLIDER  */

/* FIN NOSOTROS */

/* INICIO CONTACTOS */
#contactanos{
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  }
  /* Contenedor de contactos */
.contactos {
  display: flex;
  justify-content: space-between; /* Distribuir mapa y tarjeta */
  align-items: center; /* Alinear verticalmente */
  gap: 20px; /* Espaciado entre mapa y tarjeta */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; /* Centrar el contenedor */
}
  .tituloContacto{
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: 4%;
    margin-bottom: 40px;
    color:#d84539;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease; /* Suavizar la transición */
  }
  .tituloContacto:hover {
    color: #ffbe33; /* Color de texto al hacer hover */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  }
  /* INICIO CARTAS  */
.contactosMapa{
  display: flex;
  height: 60%;
  width: 40%;
  justify-content: flex-start;
  margin: 33px;
  position: relative;
  top: 3%;
}
/* FIN CARTAS */
/* INICIO PRIMERA TARJETA */
.card p {
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #ffbe33 ;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #ffbe33 ;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: #013e9b ;
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
/* FIN PRIMERA CARTA */

/* INICIO SEGUNDA CARTA */
.cardCorreo p {
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.cardCorreo p.small {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #ffbe33 ;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card2 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #ffbe33 ;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card2:hover:before {
  transform: scale(21);
}

.card2:hover p {
  transition: all 0.3s ease-out;
  color: #013e9b ;
}

.card2 :hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
/* FIN SEGUNDA CARTA */



/* FIN CONTACTOS */

/* INICIO FOOTER */
.footer_section {
  background-image: url('/Front-end/img/fondoDos.jpg'); /* Ruta de tu imagen */
    color: #ffbe33;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;

  }
  
  .footer_section p {
    color: #ffbe33;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffbe33;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffbe33;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
  }
  
  .footer_section .footer_social a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }
  #redesFooter{

    width: 100%;
  }

  /* iconos redes sociales footer */
  /*FIN FOOTER  */




